<h2 style="margin-top: 15px; margin-left: 10px;">Please Enter Desired Flight Details.</h2>
<mat-divider></mat-divider>
<div style="margin-left: 15px;" class="example-container">
    <form [formGroup]="options">
        <!-- <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox> -->
        <div class="example-form-fields" style="width: 99%;">
        <!-- <mat-form-field appearance="fill"
             >
            <input matInput placeholder="Simple placeholder" required>
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder">
        </mat-form-field> -->

        <mat-form-field appearance="fill"
             >
            <mat-label><mat-icon>flight_takeoff</mat-icon><i>Departure Location</i></mat-label>
            <mat-select required>
            <mat-option *ngFor="let potentialDepartureLocation of potentialDepartureLocations" [value]="potentialDepartureLocation" (onSelectionChange)='changedepart($event.source)'>
                {{potentialDepartureLocation}}
            </mat-option>
            </mat-select>            
        </mat-form-field>

        <mat-form-field appearance="fill"
             >
            <mat-select required>
            <mat-option *ngFor="let potentialArrivalLocation of potentialArrivalLocations" [value]="potentialArrivalLocation" (onSelectionChange)='changearrival($event.source)'>
                {{potentialArrivalLocation}}
            </mat-option>
            </mat-select>
            <mat-label><mat-icon>flight_land</mat-icon><i>Arrival Location</i></mat-label>
            <mat-hint style="color: red;" *ngIf="arrivalIsDeparture">Arrival and Departure Locations must Differ</mat-hint>
        </mat-form-field>
        </div>

        <div class="example-form-fields" style="width: 99%;">    
            <mat-form-field appearance="fill">
                <mat-select required>
                    <mat-option *ngFor="let seatSelected of seatsSelected" [value]="seatSelected" (onSelectionChange)='changeseats($event.source)'>
                        {{seatSelected}}
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>flight_class</mat-icon><i>Number of Seats Required</i></mat-label>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Range of Departure Dates</mat-label>
                <mat-date-range-input [min]="minDate" [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate #dateRangeStart placeholder="Start date">
                  <input matEndDate #dateRangeEnd placeholder="End date" (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            </div>
            <div>
                <label>Flight Type: </label>
                <mat-radio-group (change)="getFloatLabelValue($event)" [formControl]="floatLabelControl">
                    <mat-radio-button value="One Way">One Way</mat-radio-button>
                    <mat-radio-button value="Round Trip">Round Trip</mat-radio-button>
                </mat-radio-group>
            </div>
        <mat-divider style="margin-top: 2%;margin-bottom: 2%;"></mat-divider>
            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Filters
            </mat-panel-title>
            <mat-panel-description>
                Optionally Choose More Particular Flight Details {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
                <form [formGroup]="filters">
                    <p>
                    <label for="airline">Airline</label>
                    <br>
                    <select name="airline" formControlName="airline" id="airline">
                        <option value="airCanada">Air Canada</option>
                        <option value="westJet">WestJet</option>
                        <option value="sunwing">Sunwing</option>
                    </select>
                    </p>
                    <p>
                    Price Range <br>
                    <label for="minPrice">Minimum </label>
                    <input type="text" name="minPrice" formControlName="minPrice" id="minPrice" placeholder="$0.00">
                    <br>
                    <label for="maxPrice">Maximum </label>
                    <input type="text" name="maxPrice" formControlName="maxPrice" id="maxPrice" placeholder="$0.00">
                    </p>
                    <p>
                    Time Range <br>
                    <label for="beginTime">From </label>
                    <input type="time" name="beginTime" formControlName="beginTime" id="beginTime">
                    <label for="endTime"> to </label>
                    <input type="time" name="endTime" formControlName="endTime" id="endTime">
                    </p>
                    <p>
                    Class <br>
                    <input type="radio" id="economy" name="class" formControlName="class" value="economy">
                    <label for="economy">Economy</label>
                    <input type="radio" id="business" name="class" formControlName="class" value="business">
                    <label for="business">Business</label>
                    <input type="radio" id="firstClass" name="class" formControlName="class" value="firstClass">
                    <label for="firstClass">First Class</label>
                    </p>
                    <p>
                    Number of Connecting Flights <br>
                    <input type="radio" id="zero" name="connectingFlights" formControlName="connectingFlights" value="0">
                    <label for="zero">0 (direct flight)</label>
                    <input type="radio" id="one" name="connectingFlights" formControlName="connectingFlights" value="1">
                    <label for="one">1</label>
                    <input type="radio" id="two" name="connectingFlights" formControlName="connectingFlights" value="2">
                    <label for="two">2</label>
                    <input type="radio" id="threeOrMore" name="connectingFlights" formControlName="connectingFlights" value="3">
                    <label for="threeOrMore">3+</label>
                    </p>  
                </form>
        </mat-expansion-panel>
        <mat-progress-bar *ngIf="progBarCondition" mode="query"></mat-progress-bar>
        <button [disabled]="notGood[0] || notGood[1]|| notGood[2]|| notGood[3]|| notGood[4]" style="margin-left: 85%; margin-top: 3%;cursor: pointer; background-color: transparent;" class="example-button-label" mat-button color="warn" (click)="searchFlights()">Search Flights</button>
    </form>
</div>