mat-grid-tile {
    background: lightblue;
    text-align: left;
  }
.img-responsive{
    width: 200px;
    height: auto;
}
p{
    font-size: 1.5rem;
    font-family: baskerville;
    margin: 300px;
}