<mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile><img class="img-responsive" src="assets\images\QatarAirwaysLogo.png">
        <p>Flight Details: <br>
        From: Doha, Qatar <br>
        To: Paris, France<br> 
        Date of Departure: Novemeber 20, 2022</p> </mat-grid-tile>
    <mat-grid-tile><img class="img-responsive" src="assets\images\AirFranceLogo.png">
        <p>Flight Details: <br>
        From: Paris, France <br>
        To: Toronto, Canada<br> 
        Date of Departure: Novemeber 25, 2022</p> </mat-grid-tile>
    <mat-grid-tile><img class="img-responsive" src="assets\images\DeltaLogo.png">
        <p>Flight Details: <br>
        From: Boston, United States <br>
        To: Atlanta, United States<br> 
        Date of Departure: Novemeber 28, 2022</p> </mat-grid-tile>
    <mat-grid-tile><img class="img-responsive" src="assets\images\AirCanadaLogo.png">
        <p>Flight Details: <br>
        From: Toronto, Canada <br>
        To: Calgary, Canada<br> 
        Date of Departure: December 20, 2022</p> </mat-grid-tile>
</mat-grid-list>