:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
   }

   ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }

   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  mat-card {
    max-width: 600px;
  
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
      color: black;
  
      form {
        .mat-form-field {
          width: 100%;
          min-width: 300px;
          
        }
  
        .error {
          padding: 16px;
          width: 300px;
          color: white;
          background-color: red;
        }
  
        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }